{% extends 'book/index.html.twig' %}


    {% block main %} 

        {# {{form(form)}} #}

    {# Template formulaire custom #}
        {{ form_start(form) }}

        {{ form_errors(form) }}
        
        {# les inputs #}
        {{ form_row(form.title) }}
        {{ form_row(form.publishedDate) }}


        {{ form_row(form.submit) }}
        {{ form_end(form) }}
    {# ########################## #}


        <br>
        <a href="{{url('book_list')}}"> Revenir à la liste des livres </a>
    {% endblock %}

