{% extends 'base.html.twig' %}

{% block title %} 
    Bibliotheque
{% endblock %}

{% block body %}

    {% block h1 %} 
    <h1>Bibliotheque</h1>
    {% endblock %}


    {% block main %} 

        <h2>Liste des livres</h2>
        {% for book in books %}
            <li><a href="{{url('single_book', {'id': book.id})}}">{{book.title}}</a></li>
        {% endfor %}
        <br>
        <a href="{{url('add_book')}}"> Ajouter un livre </a>
        <br>
        {% for message in app.flashes('success') %}
            <div style="color: green">
                {{ message }}
            </div>
        {% endfor %}
    {% endblock %}
{% endblock %}
