{% extends 'book/index.html.twig' %}

{% block title %} 
    Fiche de {{ book.title }}
{% endblock %}

{% block main %}
   <h2>Fiche du livre "{{ book.title }}"</h2>
   <p>Publié le {{ book.publishedDate|date('d/m/Y') }}</p>

    <form method="POST" action="{{ path('delete_book', {'id': book.id}) }}" onsubmit="return confirm('Êtes-vous sûr·e de vouloir supprimer ce livre ? Cette action est irréversible.')">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger">Supprimer</button>
    </form>

    <a href="{{url('book_list')}}"> Revenir à la liste des livres </a>
{% endblock %}


